/* styles.css */
@font-face {
  font-family: 'Atrament';
  src: url('../fonts/AtramentTRIAL-Light-BF65a72dd341b06.otf') format('opentype');
}
@font-face {
  font-family: 'Roboto Condensed Light';
  src: url('../fonts/Roboto_Condensed-Light.ttf') format('opentype');
}
body, html {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
}

.header {
  position: relative;
  height: 70vh;
  background: url('../images/pp_bg.png') no-repeat center  center/cover;
  color: white;
  background-color: #06132a;
}



.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.container {
  position: relative;
  max-width: 1200px;
  margin: 2.5em auto;
  height: 100%;
}

.hamburger {
  position: absolute;
  top: 20px;
  right: 20px;
  display: none; /* Hide on larger screens */
  flex-direction: column;
  gap: 5px;
  cursor: pointer;
  z-index: 1000;
}

.hamburger div {
  width: 25px;
  height: 3px;
  background-color: black;
}

.sidebar {
  position: fixed;
  top: 0;
  right: -100%;
  width: 250px;
  height: 100%;
  background-color: #fff;
  box-shadow: -2px 0 5px rgba(0, 0, 0, 0.5);
  transition: right 0.3s ease-in-out;
  z-index: 999;
  padding: 20px;
}

.sidebar.active {
  right: 0;
}

.nav2 ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.nav2 li {
  margin: 15px 0;
}

.nav2 a {
  text-decoration: none;
  color: black;
  font-size: 20px;
  font-family: 'Roboto Condensed', sans-serif;
}

.nav2 a.contact {
  background-color: #00B2BF;
  padding: 5px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav2 a.contact:hover {
  background-color: #00B2BF;
}

.nav {
  position: absolute;
  top: 100px;
  right: 20px;
}

.nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 20px;
}

.nav li {
  display: inline;
}

.nav a {
  color: white;
  text-decoration: none;
  font-size: 24px;
  font-family: 'Roboto Condensed Light', sans-serif;
}

.nav a.contact {
  background-color: #00B2BF;
  padding: 5px 15px;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav a.contact:hover {
  background-color: #00B2BF;
}

.header-left {
  position: absolute;
  top: 25%;
  left: -10em;
  transform: translateY(-50%);
  text-align: left;
}

.logo {
  width: 20em;
  height: 18em;
  margin-bottom: 15px;
}

.title {
  font-size: 64px;
  font-weight: bold;
  margin: 0;
  color: white;
  font-style: italic;
  margin-left: 1.5em;
  font-family: 'Atrament', sans-serif;
}
.privacy-policy {
  margin: 20px 6em;
  padding: 20px;
  border-radius: 8px;
}

.privacy-policy h1 {
  color: #011450;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.privacy-policy h2 {
  margin-top: 20px;
  color: #011450;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
}

.privacy-policy p,
.privacy-policy li {
  color: #011450;
  margin-bottom: 10px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
  font-size: 22px;
}

.privacy-policy a {
  color: #011450;
  text-decoration: none;
  font-family: 'Roboto', sans-serif;
  font-size: 22px;
  font-weight: 200;
}

.privacy-policy a:hover {
  text-decoration: underline;
}

ol, ul {
  padding-left: 20px;
  font-family: 'Roboto', sans-serif;
  font-weight: 200;
}
footer {
  background-color: #0f254b;
  color:  #bcc1d0;;
  padding: 20px;
}

.footer-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-start;
  margin: 0px 6em;
}

.contact-info {
  max-width: 50%;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.contact-info h3 {
  font-size: 1.5rem;
  margin-bottom: 10px;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.contact-info p {
  margin: 5px 0;
}

.social-icons {
  display: flex;
  gap: 1em;
  margin: 2em 0;
  align-items: center;
  justify-content: center;
}

.social-icons img {
  width: 30px;
  height: 30px;
}

.contact-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 50%;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 10px;
  border: none;
  background-color: #bcc1d0;
  color:black;
}

.contact-form textarea {
  resize: none;
  height: 100px;
}

.footer-bottom {
  display: flex;
  gap: 25em;
  align-items: center;
  padding-top: 10px;
  font-size: 0.9rem;
  margin: 0px 7em;
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 300;
}

.footer-bottom a {
  color: #fff;
  text-decoration: none;
}

.footer-bottom span {
  background: #fff;
  color: #0f254b;
  border-radius: 50%;
  padding: 5px 10px;
}
/* Responsive Design */
@media (max-width: 768px) {
  .hamburger {
    display: flex; /* Show on mobile devices */
  }
  .container {
      margin: 1.5em auto;
  }
  .nav {
    display: none;
  }

  .hamburger-menu {
    display: block;
  }
  .nav {
    margin-top: 3em;
  }

  .nav ul {
    flex-direction: column;
    gap: 10px;
  }

  .title {
    font-size: 28px;
    font-family: 'Atrament', sans-serif;
    margin-left: 5em;
  }

  .header {
    height: 40vh;
    background-color: #06132a;
  }

  .logo {
    width: 100px;
    height: 100px;
  }

  .header-left {
    position: absolute;
    top: 20%;
    left: 0px;
    transform: translateY(-50%);
    text-align: left;
  }

  .headingDiv{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .privacy-policy {
    margin: 10px;
    padding: 15px;
  }

  .privacy-policy h1 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #011450;
  }

  .privacy-policy h2 {
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #011450;
  }

  .privacy-policy p,
  .privacy-policy li {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    color: #011450;
    font-size: 18px;
  }

  .privacy-policy a {
    color: #011450;
    text-decoration: none;
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
  }

  .footer-container {
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin: 0; 
  }

  .contact-info {
    width: 100%;
    margin-bottom: 1em; 
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
  }

  .contact-info h3 {
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
  }

  .social-icons {
    justify-content: center; 
  }

  .contact-form {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 90%;
    margin-bottom: 1em;
}

  .footer-bottom {
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 10px;
    margin: 0; 
    padding-top: 20px; 
    font-family: 'Roboto Condensed', sans-serif;
    font-weight: 300;
  }

  .footer-bottom a {
    margin-bottom: 10px; 
  }

  ol, ul {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
  }
}
